body {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background: url(https://kitchen.slotex.com/upload/iblock/a00/a0042643e3fe1861d162f20ef6bc9e34.jpg)
    bottom no-repeat;
  opacity: 0.8;
  background-size: cover;
}
h1 {
  color: #000000;
  font-size: 6rem;
  font-family: "Times New Roman", Times, serif;
}
.new {
  background-color: #ffffff;
  padding: 20px 0 10px;
}
article {
  width: 768px;
  margin: 0 auto 10px;
  padding: 6px 5px;
  border-bottom: 1px solid rgb(66, 66, 66);
}
article a {
  color: #000000;
  text-decoration: none;
}
article a:hover {
  color: rgb(75, 14, 187);
}
.new__title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
}
.article-meta {
  color: rgb(73, 73, 73);
  margin-bottom: 5px;
}
.new__post img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
nav {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}
nav.links {
  margin-bottom: 15px;
}
nav.links > a {
  color: #777777;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0rem;
  text-decoration: none;
  text-transform: uppercase;
}
nav.links > a:hover {
  opacity: 0.6;
}
.copyright {
  display: flex;
  text-align: center;
  height: 80px;
  color: dimgray;
  font-family: "Times New Roman", Times, serif;
}
